$bg_body_orange:#ea704e;

$font_main_color:#444444;

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  background-color: $bg_body_orange;
  overflow-x: hidden;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
  }
}
a {
  text-decoration: none;
  color:$font_main_color;
}
.wrapper {
  padding-top: 70px;
  padding-bottom: 70px;
}
.container {
  display: block;
  width: 1160px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.header {

}
.nav {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 13px;
  padding-bottom: 13px;
  background-image: linear-gradient(to top, #f3f3f3 0%, white 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.nav__logo,.nav__menu,.nav__search {
  display: inline-block;
}
.logo {

}
.main {

}
.footer {

}